@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.clients{
    background-color: #FFFFFF;
    min-height: 41.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.table{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 74vmax;
}
.contend{
    width: 23.5vmax;
    height: 15.2vmax;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
.contend>.text{
    margin: 2.4vmax;
}
.text>p{
    font-family: 'Poppins', sans-serif;
    color:rgba(3, 5, 94, 0.5);
}
.text>p>span{
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    color:rgba(3, 5, 94);
}
.clients>h1{
    font-family: Ubuntu, sans-serif;
    font-size: 40px;
    color:rgba(3, 5, 94);
    margin-bottom: 40px;
    margin-top: -30px;
}
.clients>img{
    width: 5.8vmax;
    margin: 0%;
    margin-top: 20px;
    margin-left: -0.868vmax;
}