@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.header{
    background-color: #F7F8FD;
    
    height: 50vmax;
    text-align: center;
    position: static;
    padding-top: 1.736vmax;
}
.top_bar{
    max-width:74vmax;
    height: 2.8vmax;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 11.2vmax;

}
.logo>img{
   width: 100%;

}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    margin: 1vmax;
    font-weight:500;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info_btn>button{
    color: #03045E;
    font-size: 0.925vmax;
    margin: 0%;
    margin-right: 2.31vmax;
    font-weight: 600;
}
.login{
    height: 2.835vmax;
    width: auto;
}
.login>button{
    background-color: #03045E;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0.289vmax;
    font-weight: bold;
    font-size: 1.04vmax;
}
.img{
    width: 36.11vmax;
}     
.img>img {
    width: 100%;
}
.text{
    width:32.17vmax ;
    min-height: 18.3vw;
    position: relative;
}
.content{
    height: inherit;
    margin: auto;
    max-width:74vmax;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.text>h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: left;
    color:#03045E;
    font-size: 2.777vmax;
}
.text>p{
    color:#03045E;
    font-family: 'Poppins', sans-serif;
    font-size: 1vmax;
    text-align: left;
    margin-bottom:3vmax;
}
.text>button{
    font-family: 'Poppins', sans-serif;
    font-size: 1.04vmax;
    position:absolute;
    bottom: 0;
    left: 0;
    background-color: #0098FF;
    width:10.87vmax;
    height: 3.5vmax;
    margin: 0%;
    color: white;
    font-weight: 600;
    border-radius: 0.289vmax;
}