@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.statistics{
    background-color: #0098FF;
    min-height: 18.21vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table{
    margin: auto;
    width: 74vmax;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: stretch;
    

}
.content>p:first-child{
   text-align: center;
   font-size: 50px;
   color: white;
   font-family: Ubuntu, sans-serif;
   margin: 0%;
}
.content>p:last-child{
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: 'Puppins' sans-serif;
}